<div class="container mt-3 mt-md-5">
    <div class="jumbotron">
        <div class="row">
            <h3 class="ml-3">Compare Cars</h3>
            <p class="ml-3 advice text-secondary">(maximal 3 cars)</p>
        </div>

        <!-- <app-dropdown></app-dropdown> -->
        <select class="form-control mb-3" (change)="onChange($event)">
            <option selected disabled>Select a car...</option>
            <option [value]="car.model" *ngFor="let car of cars">{{car.manufacturer}} {{car.model}}</option>
        </select>
    </div>

    <div class="row table-compare ml-1">

        <div class="card col-2 table-title text-secondary" *ngIf="arrSelectedCars.length">
            <p class="border-top pt-3 pl-3">Price:</p>
            <p class="border-top pt-3 pl-3">Top Speed:</p>
            <p class="border-top pt-3 pl-3">From 0 to 60 mph:</p>
            <div class="card-body border-top"></div>
        </div>

        <div class="card col-3 table-car" *ngFor="let selectedCar of arrSelectedCars, let indice=index;">
            <img class="card-img-top mb-3" src="{{selectedCar.img_url}}"
                alt="{{selectedCar.manufacturer}} {{selectedCar.model}}">

            <h5 class="ml-4">{{selectedCar.manufacturer}} {{selectedCar.model}}</h5>

            <p class="border-top pt-3 pl-3">{{selectedCar.price | currency}}</p>
            <p class="border-top pt-3 pl-3">{{selectedCar.top_speed}}</p>
            <p class="border-top pt-3 pl-3">{{selectedCar.from0to60_mph}}</p>

            <div class="card-body border-top">
                <a href="#" class="card-link">Car link</a>
            </div>
        </div>
    </div>
    <!-- {{arrSelectedCars | json}} -->
</div>