<div class="container mt-3 mt-md-5">
  <div class="jumbotron">
    <h3>Find Your Next Car</h3>
    <!-- <app-dropdown></app-dropdown> -->
    <select class="form-control mb-3" (change)="onChange($event)">
      <option disable value="all">Sort by</option>
      <option value="manufacturerName">Manufacturer name</option>
      <option value="lowestPrice">Lowest price</option>
      <option value="highestPrice">Highest price</option>
    </select>
  </div>

  <div class="row">
    <div *ngFor="let car of cars" class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-12 p-0">
              <img src="{{car.img_url}}" alt="{{car.manufacturer}} {{car.model}}" />
            </div>
            <div class="col-12 mt-3">
              <div class="numbers">
                <h5 class="pb-3">{{car.manufacturer}} {{car.model}}</h5>
                <p><b>Price:</b> {{car.price | currency}}</p>
                <p><b>Top Speed:</b> {{car.top_speed}}</p>
                <p><b>0-60 mph:</b> {{car['from0to60_mph']}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button *ngIf="!car.inFavourites" type="button" class="btn btn-primary" (click)="addToFavourites(car.ref)">
            Add to favourites
          </button>
          <p *ngIf="car.inFavourites"><span class="star">&#9733;</span> In favourites</p>
        </div>
      </div>
    </div>
  </div>
</div>